<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Lista Clientes')"></head>
<nav th:replace="fragments :: nav"></nav>
<body>
<div class="container-fluid bg-light">

    <div class="row mt-3 pt-3 text-center bg-light">
        <div class="col">
            <h2 th:text="'Listado de clientes'"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Direccion</th>
                    <th>Localidad</th>
                    <th>Codigo Postal</th>
                    <th>Provincia</th>
                    <th>Pais</th>
                    <th>Vehiculos</th>
                    <th colspan="2">Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.telefono}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.direccion}"></td>
                    <td th:text="${cliente.localidad}"></td>
                    <td th:text="${cliente.codigoPostal}"></td>
                    <td th:text="${cliente.provincia}"></td>
                    <td th:text="${cliente.pais}"></td>
                    <td th:text="${cliente.vehiculos}"></td>

                    <!-- HAY QUE AÑADIR LOS ENLACES -->
                    <td><span><a class="btn btn-info" role="button"
                                 th:href="@{/cliente/{id}/addVehicle(id=${cliente.getIdCliente()})}">Añadir Otro Vehiculo</a></span>
                    </td>
                    <td><span><a class="btn btn-warning" role="button"
                                 th:href="@{/cliente/{id}/editar(id=${cliente.getIdCliente()})}">Modificar</a></span>
                    </td>
                    <td><span><a class="btn btn-danger" role="button"
                                 th:onclick="'del(\'/cliente/' + ${cliente.getIdCliente()} +'\')'">Eliminar</a></span>
                    </td>

                </tr>
                </tbody>
            </table>
            <div class="row pt-3 justify-content-center text-center align-items-center mx-auto"
                 style="background-color: #AED6F1;">
                <p><a class="btn" style="background-color: #116FFF; color: white" th:href="@{/cliente/nuevo}"> Nuevo
                    cliente</a>
                    <a class="btn" style="background-color: darkred; color: white" th:href="@{/gestion}">Salir</a></p>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert"
                 th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>


</div>

<div th:replace="fragments::javascript"/>
<script type="text/javascript">
    function del(urlBorrar) {
        if (confirm('¿Estás seguro/a de que quieres borrar el cliente?')) {
            fetch(urlBorrar, {
                method: 'DELETE'
            }).then((res) => location.reload());
        }
    }
</script>
</body>
</html>